spring:
  datasource:
    username: root
    password: root

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  boot:
    admin:
      client:
        url: http://localhost:9090   # Admin Server

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    ip-address: 127.0.0.1           # <-- added this line
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,refresh
  endpoint:
    health:
      show-details: ALWAYS

  tracing:
    sampling:
      probability: 1.0   # 100% tracing (reduce to 0.1 in prod)

  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

jwt:
  secret: STvtWyNSbhkDvUZfM3LU8przbgeSLzIrjrKhSby4xk0=
  access-token-expiration: 900000        # 15 minutes
  refresh-token-expiration: 604800000    # 7 days
