spring:
  datasource:
    username: root
    password: root

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh


jwt:
  secret: STvtWyNSbhkDvUZfM3LU8przbgeSLzIrjrKhSby4xk0=
  access-token-expiration: 900000     # 15 minutes
  refresh-token-expiration: 604800000 # 7 days